<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv= "Cache-Control" content= "no-cache" />
    <meta http-equiv= "Expires" content= "0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="shortcut icon" href="http://www.suning.com/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css" />
    <link rel="stylesheet" href="../static/css/active.css" />
    <title>详情</title>
</head>
<body>
<div class="content">
    <div class="detail">
        <div class="detail-title">中国移动营业厅</div>
        <div class="buttons-tab">
            <a href="#tab1" class="tab-link active button">登记</a>
            <a href="#tab2" class="tab-link button">发放</a>
        </div>
        <div class="tabs">
            <div id="tab1" class="tab active">
                <div class="list-block"><ul id="users"></ul></div>
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">客户姓名</div>
                                    <div class="item-input">
                                        <input id="userName" type="text" placeholder="请输入姓名" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">客户号码</div>
                                    <div class="item-input">
                                        <input id="userPhone" type="tel" placeholder="请输入手机号" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">邮寄地址</div>
                                    <div class="item-input">
                                        <input id="userAdd" type="tel" placeholder="请输入邮寄地址" />
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="content-block">
                    <p><a href="#" class="button button-submit" id="confirm1">确认</a></p>
                </div>
            </div>
            <div id="tab2" class="tab">
                <div class="list-block">
                    <ul>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">订购号码</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="请输入手机号后四位" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">领取验证码</div>
                                    <div class="item-input">
                                        <input type="tel" placeholder="请输入验证码" />
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-media"><i class="icon icon-form-name"></i></div>
                                <div class="item-inner">
                                    <div class="item-title label">邮寄地址</div>
                                    <div class="item-input">
                                        <input type="tel" placeholder="请输入邮寄地址" />
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="content-block">
                    <p><a href="#" class="button button-submit">确认</a></p>
                </div>
                <!--<div class="list-block">
                    <ul>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-title">本月图书总量</div>
                                <div class="item-after">XXX本</div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-title">本月已发放量</div>
                                <div class="item-after">XXX本</div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-title">本月剩余图书</div>
                                <div class="item-after">XXX本</div>
                            </div>
                        </li>
                    </ul>
                </div>-->
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    var hall = {
        "id": 1,
        "name": "营业厅A",
        "areaId": 1126,
        "addr": "营业厅A",
        "deleted": false
    };

    var urlPrefix = 'http://localhost:8080/';

</script>

<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../static/js/detail.js' charset='utf-8'></script>

</body>
</html>


