<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv= "Cache-Control" content= "no-cache" />
    <meta http-equiv= "Expires" content= "0" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="shortcut icon" href="http://www.suning.com/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css" />
    <style>
        .tips{
            padding: 0 14px;
            font-size: 13px;
            color: #666;
        }
    </style>
    <title>报表</title>
</head>
<body>

<div class="content">
    <div class="content-block-title">二维码订购数量报表</div>
    <div class="list-block">
        <ul>
            <li class="item-content">
                <div class="item-media"><i class="icon icon-f7"></i></div>
                <div class="item-inner">
                    <div class="item-title">当日</div>
                    <div class="item-after" th:text="${report['today']}"></div>
                </div>
            </li>
            <li class="item-content">
                <div class="item-media"><i class="icon icon-f7"></i></div>
                <div class="item-inner">
                    <div class="item-title">当月</div>
                    <div class="item-after" th:text="${report['month']}"></div>
                </div>
            </li>
            <li class="item-content">
                <div class="item-media"><i class="icon icon-f7"></i></div>
                <div class="item-inner">
                    <div class="item-title">累计</div>
                    <div class="item-after" th:text="${report['all']}"></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="tips">
        注:上述数据包括客户一小时内退订数量,仅供参考,不作为结算依据。正式结算数量以中国移动次月报表为准。
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
    var employee = [[${employee}]];

    if(employee === 'null'){
        $("body").empty();
        alert("您不是营业员");
    }
</script>

</body>
</html>