<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.my.mapper.HallMapper">
    <resultMap id="BaseResultMap" type="com.github.my.domain.po.Hall">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="area_id" jdbcType="INTEGER" property="areaId"/>
        <result column="addr" jdbcType="VARCHAR" property="addr"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, area_id, addr, type, deleted
    </sql>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_hall
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByAreaId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_hall
        where area_id = #{areaId,jdbcType=INTEGER}
    </select>
</mapper>